<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.sred.eatright">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity android:name=".Search" />
        <activity android:name=".ProfileActivity" />
        <activity android:name=".Home" />
        <activity android:name=".Help" />
        <activity android:name=".getGender" />
        <activity android:name=".ActivityLevel" />
        <activity android:name=".Birthday" />
        <activity android:name=".GoalsCalculated" />
        <activity android:name=".WelcomeActivity" />
        <activity android:name=".GetGoal" />
        <activity android:name=".Main2Activity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".RegisterActivity"
            android:label="@string/app_name" />
    </application>

</manifest>